.cover {
  max-width: 1184px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1024px) {
  .cover {
    padding: 0 0 92px;
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .cover {
    padding: 0 0 88px;
  }
}

@media screen and (max-width:320px) {
  .cover {
    padding: 0 0 64px;
  }
}